<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<string>self</string>
		<string>@interface</string>
		<string>@implementation</string>
		<string>@protocol</string>
		<string>@optional</string>
		<string>@required</string>
		<string>@private</string>
		<string>@end</string>
		<string>@selector</string>
		<string>encode</string>
		<string>id</string>
		<string>nil</string>
		<string>super</string>
		<string>new</string>
		<string>void</string>
		<string>return</string>
		<string>import</string>
		<string>typedef</string>
		<string>NS_ENUM</string>
		<string>strong</string>
		<string>readonly</string>
		<string>@property</string>
		<string>assign</string>
		<string>copy</string>
		<string>extern</string>
		<string>inline</string>
		<string>const</string>
		<string>@class</string>
		<string>enum</string>
		<string>NS_OPTIONS</string>
		<string>struct</string>
		<string>BOOL</string>
		<string>int</string>
		<string>float</string>
		<string>double</string>
		<string>short</string>
		<string>long</string>
		<string>unsigned</string>
		<string>YES</string>
		<string>NO</string>
		<string>true</string>
		<string>false</string>
		<string>instancetype</string>
		<string>while</string>
		<string>switch</string>
		<string>case</string>
		<string>for</string>
		<string>@try</string>
		<string>@catch</string>
		<string>@finally</string>
		<string>continue</string>
		<string>in</string>
		<string>if</string>
		<string>__block</string>
		<string>__weak</string>
		<string>__autoreleasing</string>
		<string>__FUNCTION__</string>
		<string>__FILE__</string>
		<string>__LINE__</string>
	</array>
</dict>
</plist>
